pipeline/pl_formulaone_API.json
{
	"name": "pl_formulaone_API",
	"properties": {
		"activities": [
			{
				"name": "act_web",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "http://ergast.com/api/f1/circuits.json"
				}
			},
			{
				"name": "act_set",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "act_web",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "first_response",
					"value": {
						"value": "@activity('act_web').output.MRData.CircuitTable.Circuits",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"first_response": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}