pipeline/pl_restapi.json
{
	"name": "pl_restapi",
	"properties": {
		"activities": [
			{
				"name": "act_web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "http://ergast.com/api/f1/seasons.json"
				}
			},
			{
				"name": "act_web2",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "act_web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "PUT",
					"headers": {
						"x-ms-blob-type": "BlockBlob"
					},
					"url": "https://bwformulaone.blob.core.windows.net/webactivityoutput/webactoutput.json?sp=racw&st=2024-04-10T14:00:01Z&se=2024-04-11T22:00:01Z&spr=https&sv=2022-11-02&sr=c&sig=ljlzWBgs75h%2FK438L%2B8awFoPFW%2FBdKqPsxMV%2FulXQQY%3D",
					"body": {
						"value": "@activity('act_web1').output.MRData.SeasonTable.Seasons",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}